/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/*.button { 
   -fx-background-color: red; 
   -fx-text-fill: white; 
}
*/
.text-area .content {
   -fx-background-color: tan; 
   -fx-text-fill: white; 
}